@model Report

<div class="card card-outline-primary m-1 p-1">
    <div class="bg-faded p-1">
        <h4>
            @Model.Name
        </h4>
    </div>
    <form id="@Model.ReportID" asp-action="Index" asp-controller="Script" method="post">
        <input type="hidden" asp-for="ReportID" />
        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
        <span class="card-text p-1">
            @Model.Description
            <button type="submit" class="btn btn-success btn-sm pull-right" style="float:right">
                -> Excel
            </button>
        </span>
    </form>
</div>